<header class="header-principal" *ngIf="mostrarLayout">
  <div class="titulo">Portafolios</div>

  <nav class="nav">
    <a routerLink="/login" routerLinkActive="active" *ngIf="auth.esVisitante()"> Login </a>
    <a routerLink="/inicio" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"> Inicio </a>
    <a routerLink="/agendar" routerLinkActive="active"> Agendar Asesoría</a>
    <a routerLink="/mis-asesorias" routerLinkActive="active">Mis asesorías</a>

    <a *ngIf="auth.esAdmin()" routerLink="/admin" routerLinkActive="active">
      Admin
    </a>

    <a *ngIf="auth.esProgramador()" routerLink="/programador" routerLinkActive="active">
      Programador
    </a>

    <button type="button" class="boton-logout" *ngIf="!auth.esVisitante()" (click)="cerrarSesion()">
      Cerrar sesión
    </button>
  </nav>

  <div class="perfil-usuario" *ngIf="auth.usuarioActual.id">
    <div class="info-texto">
      <span class="nombre">{{ auth.usuarioActual.nombre }}</span>
      <span class="rol">
        {{ auth.usuarioActual.rol | titlecase }} 
        <span *ngIf="auth.usuarioActual.email" class="email-corto">| {{ auth.usuarioActual.email }}</span>
      </span>
    </div>

    <img
      *ngIf="auth.usuarioActual.fotoUrl"
      [src]="auth.usuarioActual.fotoUrl"
      alt="Perfil"
      class="avatar-usuario"
    />
    <div *ngIf="!auth.usuarioActual.fotoUrl" class="avatar-placeholder">
       {{ auth.usuarioActual.nombre.charAt(0) }}
    </div>
  </div>
</header>

<main class="contenido-principal" [class.fullscreen]="!mostrarLayout">
  <router-outlet></router-outlet>
</main>

<footer>
  Autor: Carlos Moyano Guevara | Programacion y Plataformas Web
</footer>