<header class="header-principal">
  <div class="titulo">Portafolios</div>

  <div>
    <nav class="nav">
      <a routerLink="/login" routerLinkActive="active"> Login </a>
      <a routerLink="/inicio" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"> Inicio </a>
      <a routerLink="/agendar" routerLinkActive="active"> Agendar Asesoria</a>

      <a *ngIf="auth.esAdmin()"
        routerLink="/admin"
        routerLinkActive="active">
        Admin
      </a>

      <a *ngIf="auth.esProgramador()"
        routerLink="/programador"
        routerLinkActive="active">
        Programador
      </a>
    </nav>
  </div>
</header>

<main class="contenido-principal">
  <router-outlet></router-outlet>
</main>

<footer>
  Autor: Carlos Moyano Guevara | Programacion y Plataformas Web
</footer>


