<div *ngIf="programador as prog; else noEncontrado">

  <div class="avatar grande">
     <ng-container *ngIf="prog.fotoUrl; else iconoPub">
        <img
          [src]="prog.fotoUrl"
          [alt]="'Foto de ' + prog.nombre" />
      </ng-container>

      <ng-template #iconoPub>
        <div class="avatar-icon">
          <i class="fas fa-user"></i>
        </div>
      </ng-template>
  </div>

  <h1>{{ prog.nombre }}</h1>
  <p class="especialidad">{{ prog.especialidad }}</p>
  <p class="descripcion">{{ prog.descripcion }}</p>

  <h2>Proyectos académicos</h2>
  <ul>
    <li *ngFor="let proyecto of proyectosAcademicos">
      <h3>{{ proyecto.nombre }}</h3>
      <p>{{ proyecto.descripcion }}</p>
      <p><strong>Rol:</strong> {{ proyecto.participacion }}</p>
      <p><strong>Tecnologías:</strong> {{ proyecto.tecnologias.join(', ') }}</p>

      <p *ngIf="proyecto.repoUrl">
        Repo:
        <a [href]="proyecto.repoUrl" target="_blank">
          {{ proyecto.repoUrl }}
        </a>
      </p>

      <p *ngIf="proyecto.demoUrl">
        Demo:
        <a [href]="proyecto.demoUrl" target="_blank">
          {{ proyecto.demoUrl }}
        </a>
      </p>
    </li>
  </ul>

  <h2>Proyectos laborales</h2>
  <ul>
    <li *ngFor="let proyecto of proyectosLaborales">
      <h3>{{ proyecto.nombre }}</h3>
      <p>{{ proyecto.descripcion }}</p>
      <p><strong>Rol:</strong> {{ proyecto.participacion }}</p>
      <p><strong>Tecnologías:</strong> {{ proyecto.tecnologias.join(', ') }}</p>

      <p *ngIf="proyecto.repoUrl">
        Repo:
        <a [href]="proyecto.repoUrl" target="_blank">
          {{ proyecto.repoUrl }}
        </a>
      </p>

      <p *ngIf="proyecto.demoUrl">
        Demo:
        <a [href]="proyecto.demoUrl" target="_blank">
          {{ proyecto.demoUrl }}
        </a>
      </p>
    </li>
  </ul>
</div>

<ng-template #noEncontrado>
  <p>Programador no encontrado.</p>
</ng-template>
